includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    level: 8

    paths:
        - app/

    databaseMigrationsPath:
        - database/migrations/

    tmpDir: storage/framework/cache/phpstan
