includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    level: 8

    paths:
        - app/

    excludePaths:
        - app/Http/Controllers/Auth/*

    databaseMigrationsPath:
        - database/migrations/

    tmpDir: storage/framework/cache/phpstan
